Smart Agriculture System Based on IoT Flow V2.10.json
[{"id":"44259ec5.e64b2","type":"tab","label":"Smart Agriculture System based on IoT Flow","disabled":false,"info":""},{"id":"7bc2cc64.6fc054","type":"function","z":"44259ec5.e64b2","name":"Humid","func":"global.set('Humidity',msg.payload.d.humidity)\nreturn {payload:msg.payload.d.humidity};\n","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["594a197a.f737f8","93b361a6.0e74c","db114fc5.03a39"]]},{"id":"eb453d7f.8bdcc","type":"function","z":"44259ec5.e64b2","name":"Temp","func":"global.set('Temperature',msg.payload.d.temperature)\nreturn  {payload:msg.payload.d.temperature};\n\n","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["594a197a.f737f8","2d93ca4b.880756","6034106d.5236"]]},{"id":"f271740.323599","type":"function","z":"44259ec5.e64b2","name":"SoilMoisture","func":"global.set('SoilMoisture',msg.payload.d.objectTemp)\nreturn {payload:msg.payload.d.objectTemp};","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["594a197a.f737f8","7a7ab789.3a0be8","7a614783.0e29c8"]]},{"id":"594a197a.f737f8","type":"debug","z":"44259ec5.e64b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":20,"wires":[]},{"id":"6034106d.5236","type":"ui_gauge","z":"44259ec5.e64b2","name":"Temperature","group":"b027a192.df0d2","order":1,"width":"6","height":"3","gtype":"wave","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"60","colors":["#0daba8","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":60,"wires":[]},{"id":"db114fc5.03a39","type":"ui_gauge","z":"44259ec5.e64b2","name":"Humidty","group":"2574ded.a7b9d22","order":2,"width":"6","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#f0dd0a","#ca3838"],"seg1":"","seg2":"","x":740,"y":140,"wires":[]},{"id":"7a614783.0e29c8","type":"ui_gauge","z":"44259ec5.e64b2","name":"Soil Moisture","group":"6b161fb3.623fc","order":1,"width":"6","height":"3","gtype":"wave","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#fa0000"],"seg1":"","seg2":"","x":750,"y":220,"wires":[]},{"id":"48a757d4.657708","type":"ui_button","z":"44259ec5.e64b2","name":"","group":"5352fe74.d3de2","order":2,"width":0,"height":0,"passthru":true,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":80,"y":260,"wires":[["b11227d3.2298c8"]]},{"id":"8075a165.e6dae","type":"ui_button","z":"44259ec5.e64b2","name":"","group":"5352fe74.d3de2","order":3,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":90,"y":320,"wires":[["b11227d3.2298c8"]]},{"id":"e9f13e42.5d683","type":"http in","z":"44259ec5.e64b2","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":60,"y":500,"wires":[["ff4a7f2d.9e5f6"]]},{"id":"ff4a7f2d.9e5f6","type":"function","z":"44259ec5.e64b2","name":"Sensor Data","func":"msg.payload={\"Temperature\":global.get('Temperature'),\"Humidity\":global.get('Humidity'),\"SoilMoisture\":global.get('SoilMoisture')}\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["70be3ecc.9a2b4"]]},{"id":"70be3ecc.9a2b4","type":"http response","z":"44259ec5.e64b2","name":"","statusCode":"","headers":{},"x":510,"y":500,"wires":[]},{"id":"8e092004.6c42e","type":"http in","z":"44259ec5.e64b2","name":"","url":"message","method":"get","upload":false,"swaggerDoc":"","x":80,"y":560,"wires":[["a8256934.38b178"]]},{"id":"bfdc3a83.16da28","type":"http response","z":"44259ec5.e64b2","name":"","statusCode":"","headers":{},"x":730,"y":560,"wires":[]},{"id":"a8256934.38b178","type":"function","z":"44259ec5.e64b2","name":"Motor Command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["bfdc3a83.16da28","64389ce8.1f5064","19362835.2ff7c8"]]},{"id":"64389ce8.1f5064","type":"debug","z":"44259ec5.e64b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":600,"wires":[]},{"id":"6cf19f42.6b276","type":"ibmiot in","z":"44259ec5.e64b2","authentication":"apiKey","apiKey":"1d2a2c4b.c07944","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"555777","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["eb453d7f.8bdcc","7bc2cc64.6fc054","f271740.323599"]]},{"id":"2d93ca4b.880756","type":"ui_chart","z":"44259ec5.e64b2","name":"Graph","group":"b027a192.df0d2","order":1,"width":0,"height":0,"label":"Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":100,"wires":[[]]},{"id":"93b361a6.0e74c","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"2574ded.a7b9d22","order":0,"width":0,"height":0,"label":"Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":180,"wires":[[]]},{"id":"7a7ab789.3a0be8","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"6b161fb3.623fc","order":2,"width":0,"height":0,"label":"Graph","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ea7006","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":260,"wires":[[]]},{"id":"b21156b7.ffd768","type":"inject","z":"44259ec5.e64b2","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"0.1","x":70,"y":640,"wires":[["61aad154.20fe1"]]},{"id":"61aad154.20fe1","type":"http request","z":"44259ec5.e64b2","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Mysore,   IN&units=metric&appid=a0bfd7e12cd43d39a44c301354137ea5","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":640,"wires":[["ee858690.425348","e91cdc75.6547c","94ee504.e8099b","afd35c9f.52582","47992627.1864b8","d90a62c.edfaca","886d9367.8e48"]]},{"id":"e91cdc75.6547c","type":"change","z":"44259ec5.e64b2","name":"Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":700,"wires":[["db46aaf4.a18af8","3fd6a92e.e2d6f6","c408ba06.5503b8"]]},{"id":"94ee504.e8099b","type":"change","z":"44259ec5.e64b2","name":"Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":740,"wires":[["10fec709.796849","dbd6ac4c.0b4fc","951d9a9b.fa60c8"]]},{"id":"afd35c9f.52582","type":"change","z":"44259ec5.e64b2","name":"Region","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":780,"wires":[["9ef302aa.f7221"]]},{"id":"ee858690.425348","type":"change","z":"44259ec5.e64b2","name":"Weather Description","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.weather.0.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":660,"wires":[["4ffd141e.07dfec"]]},{"id":"4ffd141e.07dfec","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":2,"width":0,"height":0,"name":"","label":"Weather Description","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":660,"wires":[]},{"id":"db46aaf4.a18af8","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":3,"width":"0","height":"0","name":"","label":"Temperature","format":"{{msg.payload}} °C","layout":"row-spread","x":790,"y":700,"wires":[]},{"id":"10fec709.796849","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":4,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}} %","layout":"row-spread","x":780,"y":740,"wires":[]},{"id":"9ef302aa.f7221","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":1,"width":0,"height":0,"name":"","label":"Region","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":780,"wires":[]},{"id":"b42bb0b.933055","type":"ui_template","z":"44259ec5.e64b2","group":"ac27852a.c9f2d8","name":"Home tab BG","order":2,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://media.gettyimages.com/photos/crops-grow-on-fertile-farm-land-panoramic-before-harvest-picture-id937010674?s=2048x2048\");\n     background-size: 150% 100%;\n    }\n</style>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":720,"wires":[[]]},{"id":"5ff44995.2b8188","type":"ui_template","z":"44259ec5.e64b2","group":"b027a192.df0d2","name":"Smart tab BG ","order":2,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://media.gettyimages.com/photos/crops-grow-on-fertile-farm-land-panoramic-before-harvest-picture-id937010674?s=2048x2048\");\n     background-size = 100% 100%;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":760,"wires":[[]]},{"id":"47992627.1864b8","type":"change","z":"44259ec5.e64b2","name":"Air Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":820,"wires":[["4ab58802.2da488","7aa38e00.c8f74","6fc921ff.f5b0c"]]},{"id":"d90a62c.edfaca","type":"change","z":"44259ec5.e64b2","name":"Wind Speed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":860,"wires":[["1de37eb6.6f02b1","5417f625.ff01e8","6cdb9ea2.f9f86"]]},{"id":"4ab58802.2da488","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":5,"width":0,"height":0,"name":"","label":"Air Pressure","format":"{{msg.payload}} hPa","layout":"row-spread","x":790,"y":820,"wires":[]},{"id":"1de37eb6.6f02b1","type":"ui_text","z":"44259ec5.e64b2","group":"2436b8d5.7864e8","order":6,"width":0,"height":0,"name":"","label":"Wind Speed","format":"{{msg.payload}} m/s","layout":"row-spread","x":790,"y":860,"wires":[]},{"id":"2605aae3.80ea46","type":"ui_template","z":"44259ec5.e64b2","group":"eefc7ecd.eb11a","name":"Control tab BG","order":0,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://media.gettyimages.com/photos/smart-farming-with-iotgrowing-corn-seedling-in-cultivated-field-with-picture-id1162655346?s=2048x2048\");\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":800,"wires":[[]]},{"id":"886d9367.8e48","type":"change","z":"44259ec5.e64b2","name":"Cloud ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.clouds.all","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":900,"wires":[["3a175529.c4601a","1cd2f3f2.88364c"]]},{"id":"3a175529.c4601a","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"2436b8d5.7864e8","order":7,"width":0,"height":0,"gtype":"wave","title":"Clouds","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":780,"y":900,"wires":[]},{"id":"626c8ba0.c9bd24","type":"ui_toast","z":"44259ec5.e64b2","position":"dialog","displayTime":"30","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"Notification","x":750,"y":340,"wires":[[]]},{"id":"b11227d3.2298c8","type":"function","z":"44259ec5.e64b2","name":"Motor State Analyzer","func":"if(msg.payload===1)\n    msg.payload={\"command\":\"Motor turned ON\"};\n\nelse if(msg.payload===0)\n    msg.payload={\"command\":\"Motor turned OFF\"};\n    \nelse\n    msg.payload={\"command\":\"Running Motor for 30 minutes\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["b436f8ce.dc4358","b741757.3086f88"]]},{"id":"b436f8ce.dc4358","type":"function","z":"44259ec5.e64b2","name":"Motor Status","func":"var state=msg.payload;\nmsg.payload = state.command;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["693442ec.d4fbcc","626c8ba0.c9bd24","c1f3e947.a52798"]]},{"id":"145f4223.e2dfbe","type":"ui_button","z":"44259ec5.e64b2","name":"","group":"5352fe74.d3de2","order":4,"width":0,"height":0,"passthru":false,"label":"RUN Motor for 30 mins","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":100,"y":400,"wires":[["2f8fcefe.05fdc2","b11227d3.2298c8"]]},{"id":"b741757.3086f88","type":"json","z":"44259ec5.e64b2","name":"Motor","property":"payload","action":"","pretty":false,"x":550,"y":360,"wires":[["19362835.2ff7c8"]]},{"id":"693442ec.d4fbcc","type":"ui_text","z":"44259ec5.e64b2","group":"5352fe74.d3de2","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":300,"wires":[]},{"id":"c1f3e947.a52798","type":"ui_audio","z":"44259ec5.e64b2","name":"","group":"5352fe74.d3de2","voice":"en-GB","always":"","x":740,"y":380,"wires":[]},{"id":"3fd6a92e.e2d6f6","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":960,"wires":[]},{"id":"dbd6ac4c.0b4fc","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":1040,"wires":[]},{"id":"1cd2f3f2.88364c","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":6,"width":"0","height":"0","gtype":"wave","title":"Clouds","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":1120,"wires":[]},{"id":"c408ba06.5503b8","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"f18f9b8f.890b18","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":1000,"wires":[[]]},{"id":"951d9a9b.fa60c8","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"f18f9b8f.890b18","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":1080,"wires":[[]]},{"id":"469fa9b5.923268","type":"ui_template","z":"44259ec5.e64b2","group":"33a62a3.850b1d6","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":100,"y":940,"wires":[[]]},{"id":"3c1dd794.c06bc8","type":"ui_template","z":"44259ec5.e64b2","group":"d8ceb334.52045","name":"Live tab BG","order":2,"width":0,"height":0,"format":"<style>\n    body{\n        background-image: url(\"https://images.unsplash.com/photo-1454789476662-53eb23ba5907?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=689&q=80\");\n     background-size: 100% 100%;\n    }\n</style>\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":840,"wires":[[]]},{"id":"7aa38e00.c8f74","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":1160,"wires":[]},{"id":"5417f625.ff01e8","type":"ui_gauge","z":"44259ec5.e64b2","name":"","group":"d8ceb334.52045","order":5,"width":0,"height":0,"gtype":"gage","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":1240,"wires":[]},{"id":"6fc921ff.f5b0c","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"f18f9b8f.890b18","order":2,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":760,"y":1200,"wires":[[]]},{"id":"6cdb9ea2.f9f86","type":"ui_chart","z":"44259ec5.e64b2","name":"","group":"f18f9b8f.890b18","order":3,"width":0,"height":0,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":1280,"wires":[[]]},{"id":"19362835.2ff7c8","type":"ibmiot out","z":"44259ec5.e64b2","authentication":"apiKey","apiKey":"d66ee6c2.1bc2b8","outputType":"cmd","deviceId":"77777","deviceType":"MOTOR","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":740,"y":520,"wires":[]},{"id":"2f8fcefe.05fdc2","type":"stoptimer","z":"44259ec5.e64b2","duration":"30","units":"Second","payloadtype":"num","payloadval":"0","name":"Run Motor for 30 seconds","x":350,"y":400,"wires":[[],["b11227d3.2298c8"]]},{"id":"d55cbe21.02ce1","type":"ui_form","z":"44259ec5.e64b2","name":"","label":"","group":"ac27852a.c9f2d8","order":2,"width":0,"height":0,"options":[{"label":"Enter Your Name","value":"Name","type":"text","required":true,"rows":null}],"formValue":{"Name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":1000,"wires":[["1e2b7be9.3f8104"]]},{"id":"3e8e94c4.b514ac","type":"ui_audio","z":"44259ec5.e64b2","name":"","group":"ac27852a.c9f2d8","voice":"hi-IN","always":"","x":420,"y":1000,"wires":[]},{"id":"1e2b7be9.3f8104","type":"function","z":"44259ec5.e64b2","name":"User Welcome","func":"msg.payload=\"Welcome to Smart Agriculture System based on IoT\"+msg.payload.Name\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1000,"wires":[["3e8e94c4.b514ac"]]},{"id":"b027a192.df0d2","type":"ui_group","z":"","name":"Sensor Data - Temperature","tab":"5fa3f716.8e8fd8","order":1,"disp":true,"width":"6","collapse":true},{"id":"2574ded.a7b9d22","type":"ui_group","z":"","name":"Sensor Data - Humidity","tab":"5fa3f716.8e8fd8","order":2,"disp":true,"width":"7","collapse":true},{"id":"6b161fb3.623fc","type":"ui_group","z":"","name":"Sensor Data - Soil Moisture","tab":"5fa3f716.8e8fd8","order":3,"disp":true,"width":"7","collapse":true},{"id":"5352fe74.d3de2","type":"ui_group","z":"","name":"Motor Commands","tab":"5fa3f716.8e8fd8","order":4,"disp":true,"width":"6","collapse":true},{"id":"1d2a2c4b.c07944","type":"ibmiot","z":"","name":"Nodemcu","keepalive":"60","serverName":"mrcy9i.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2436b8d5.7864e8","type":"ui_group","z":"","name":"Weather Forecast","tab":"5fa3f716.8e8fd8","order":5,"disp":true,"width":"4","collapse":true},{"id":"ac27852a.c9f2d8","type":"ui_group","z":"","name":"WELCOME TO SMART FARM","tab":"5ef463af.1378ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"eefc7ecd.eb11a","type":"ui_group","z":"","name":"Motor Control","tab":"7407f6eb.2cbdd8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d8ceb334.52045","type":"ui_group","z":"","name":"Weather Parameters Gauge ","tab":"650b62a0.8cba0c","order":1,"disp":true,"width":"6","collapse":true},{"id":"f18f9b8f.890b18","type":"ui_group","z":"","name":"Graphs","tab":"650b62a0.8cba0c","order":2,"disp":true,"width":"6","collapse":true},{"id":"33a62a3.850b1d6","type":"ui_group","z":"","name":"hidden_group","tab":"2f3c4a7d.3270d6","order":1,"disp":false,"width":"6","collapse":false},{"id":"d66ee6c2.1bc2b8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"mrcy9i.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"5fa3f716.8e8fd8","type":"ui_tab","z":"","name":"Smart Agriculture System","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ef463af.1378ac","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7407f6eb.2cbdd8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","disabled":false,"hidden":false},{"id":"650b62a0.8cba0c","type":"ui_tab","z":"","name":"Live Weather Forecast","icon":"dashboard","disabled":false,"hidden":false},{"id":"2f3c4a7d.3270d6","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false}]